/* Global Vars */
:root {    
    /* don't touch plz; k thx :) */
    --font-size-pre: calc(var(--guild-size) * 2.2);
    --font-size: calc(var(--font-size-pre) / 10);
    --read-all-font-size-pre: calc(var(--guild-size) * 2.4);
    --read-all-font-size: calc(var(--read-all-font-size-pre) / 10);
    --friend-icon-size: calc(var(--guild-size) / 1.35);
    --guild-add-size-h-pre1: calc(var(--guild-size) * -1);
    --guild-add-size-h-pre2: calc(var(--guild-size) * 2);
    --guild-add-size-h-pre3: calc(var(--guild-add-size-h-pre1) / 2);
    --guild-add-size-h-pre4: calc(var(--guild-add-size-h-pre2) / 100);
    --guild-add-size-h: calc(var(--guild-add-size-h-pre3) + var(--guild-add-size-h-pre4));
    --guild-add-size-v-pre1: calc(var(--guild-add-size-h-pre1) * 2);
    --guild-add-size-v-pre2: calc(var(--guild-add-size-v-pre1) / 100);
    --guild-add-size-v-pre3: calc(var(--guild-size) / 150);
    --guild-add-size-v: calc(var(--guild-add-size-v-pre2) + var(--guild-add-size-v-pre3));
    --users-lazy-load: calc(100% + 190px);
    --chat-width: calc(100% - 240px);
    --form-width: calc(100% - 260px);
    --bar-size: calc(260px - 48px);
    --neutral-color: rgba(127, 127, 127, .75);
    --adjusted-users-panel: calc(100% - 123px);
}

/* Head */
head {
    background: transparent !important;
}

/* Body */
body {
    background: transparent !important;
}

/* App Mount */
#app-mount {
    /* For Background instead of color
    background-color: rgba(0,0,0,.74) !important; */
    background: transparent !important;
}

.app-XZYfmp {
    background: transparent !important;
}

.ellipsis--nKTEd {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.ellipsis--nKTEd .spinner-item {
    animation: none !important;
}
.statusOnline-1Mp2_H {
    background: var(--user-color) !important;
}
.invite-CTGItT {
    background: transparent !important;
    border: 1px solid var(--gray-scale) !important;
}
.coverImage-2oiOoS {
    -webkit-mask: none !important;
    background: transparent !important;
}

/* Titlebar */
.wordmark-2L03Wr {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.titleBar-3_fDwJ {
    background: transparent !important;
}

/* Base Theming */
.app,
.layers-20RVFW,
.layer-kosS71,
.flexChild-1KGW5q,
.ui-standard-sidebar-view,
.sidebar-region,
.content-region,
.container-2OU7Cz,
.flex-lFgbSz,
.container-2oOGIt {
    background-color: transparent !important;
}
.lfg-3xoFkI {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Guilds */
.guilds-wrapper .scroller-wrap {
    width: 100% !important;
    padding-right: 10px !important;
}
.guilds-wrapper .scroller-wrap ::-webkit-scrollbar{
    width: 0px;
}
.guilds-wrapper div {
    margin: 0px !important;
}
.guilds-wrapper {
    width: inherit !important;
}
.guilds-wrapper,
.guild-inner {
    background: transparent !important;
}
div[class^="unread-mentions-indicator"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
#RANbutton {
    font-size: var(--read-all-font-size) !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    color: hsla(0,0%,100%,.3) !important;
}
#RANbutton-frame a {
    height: 0px !important;
    width: 0px !important;
}
.friends-icon {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--friend-icon-size) !important;
}
.friends-online{
    font-size: var(--font-size) !important;
    text-align: left !important;
    white-space: nowrap !important;
    width: var(--guild-size) !important;
    word-wrap: normal !important;
}
.dms {
    position: relative !important;
    margin-left: 0px !important;
    margin-bottom: 7px !important;
    margin-top: -4px !important;
    margin-right: 0px !important;
    transform: translate(7px) !important;
    z-index: 0 !important;
}
.guild-separator {
    height: 1px !important;
    width: var(--guild-size) !important;
    margin-bottom: 7px !important;
}
.guild-separator:after {
    height: 1px !important;
    margin-top: 2px !important;
    left: 0% !important;
    right: 0% !important;
    width: 100% !important;
    background: var(--user-color) !important;
}
.guild {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
.dms .guild {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    right: 7px !important;
}
.dms .guild-inner {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    margin-top: 7px !important;
}
.dms .guild-inner .avatar-small {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--guild-size) !important;
}
.guild:nth-of-type(n+2) {
    margin-top: 7px !important;
}
.guild:nth-of-type(n+4) .guild-inner a{
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
.guild:nth-of-type(n+4) .avatar-small {
    background-size: var(--guild-size) !important;
}
.guild.unread:before,
.guild.selected:before {
    background: var(--user-color) !important;
}
.guilds-add {
    background: transparent !important;
    margin-top: 7px !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    border: 2px dashed var(--gray-scale) !important;
}
.guilds-add:hover {
    border: 2px dashed var(--user-color) !important;
}
.guilds-add:after {
    content: "+" !important;
    color: var(--gray-scale) !important;
    position: absolute !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    font-size: var(--guild-size) !important;
    line-height: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin-left: var(--guild-add-size-h) !important;
    margin-top: var(--guild-add-size-v) !important;
}
.guilds-add:hover:after {
    color: var(--user-color) !important;
}
.guilds-add-inner {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Channels Panel */
.channels-3g2vYe,
.container-iksrDt,
.wrapper-2ldvyE,
.wrapper-VSYYTS {
    background: transparent !important;
}
.container-3lnMWU {
    display: flex !important;
    border: none !important;
    background: transparent !important;
    position: absolute !important;
    bottom: 52px !important;
    right: 0px !important;
    width: 220px !important;
    z-index: 999 !important;
}
.container-iksrDt {
    display: flex;
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 999 !important;
    width: 220px !important;
}
.contentSelectedText-3j5CXt,
.contentHoveredText-2HYGIY {
    background: var(--gray-scale) !important;
    background-color: var(--gray-scale) !important;
}
.menu-3BZuDT,
.modal-3HOjGZ,
.form-header,
.clipboardInputInner-oj8y-S input {
    background: rgba(0,0,0,.8) !important;
}
.separator-1hpa3S {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.item-rK1j5B:hover {
    background: var(--gray-scale) !important;
}
.checkbox {
    color: #FFFFFF !important;
}
.clipboardInputInner-oj8y-S {
    border: 1px solid var(--gray-scale) !important;
    box-shadow: none !important;
}
.clipboardInputInner-oj8y-S button {
    border: none !important;
    box-shadow: none !important;
}
.clipboardInputInner-oj8y-S button:before {
    background: none !important;
}
.Select-control {
    border: 1px solid var(--gray-scale) !important;
    background: rgba(0,0,0,.8) !important;
}
.Select-value-label {
    color: #FFFFFF !important;
}
.channelNotice-cQsVXw {
    background-color: transparent !important;
}

/* Chat */
.chat,
.titleWrapper-3Vi_wz,
.chat .content,
.chat .content .flex-spacer,
.messages-wrapper,
.chat .content .flex-spacer form,
.channelTextArea-1HTP3C,
.inner-3if5cm {
    background: transparent !important;
}
.search-bar {
    background: transparent !important;
}
.messages.scroller::-webkit-scrollbar {
    background: transparent !important;
    width: 10px !important;
}
.messages.scroller::-webkit-scrollbar-button {
    background: transparent !important;
}
.messages.scroller::-webkit-scrollbar-track {
    background: transparent !important;
}
.messages.scroller::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: none !important;
}
.messages.scroller::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
.messages.scroller::-webkit-scrollbar-corner {
    background: transparent !important;
}
.messages.scroller::-webkit-resizer {
    background: transparent !important;
}
.has-divider {
    border-color: var(--gray-scale) !important;
}
.divider {
    display: none !important;
}
.chat .content .flex-spacer form {
    box-shadow: none !important;
}
.inner-3if5cm {
    border: 1px solid var(--gray-scale) !important;
}
.typing-3eiiL_ {
    background: transparent !important;
}
.autocomplete-1TnWNR,
.selectorSelected-2M0IGv {
    background: rgba(0,0,0,.8) !important;
}
.autocomplete-1TnWNR {
    border-bottom: 1px solid var(--gray-scale) !important;
}
.selectorSelected-2M0IGv {
    border: 1px solid var(--gray-scale) !important;
}
.new-messages-bar {
    background: rgba(0,0,0,.8) !important;
}
.new-messages-bar button {
    color: var(--user-color) !important;
}
.message-text:after {
    border-left: 4px solid var(--user-color) !important;
}
.mentioned .message-text {
    background: var(--user-color-semi-trans) !important;
}
.embedPill-3sYS1X {
    background: var(--user-color) !important;
}
.embedInner-t4ag7g {
    background: transparent !important;
    border: none !important;
}
.message .markup a,
.embedTitleLink-1IGDvg {
    color: var(--user-color) !important;
}
pre,
pre code {
    background: transparent !important;
}
pre {
    border: 1px solid var(--gray-scale) !important;
}
.mention,
.mention:hover {
    color: var(--user-color) !important;
}
.unreadBottom-2LxhSR,
.unreadTop-25fmEL {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.is-local-bot-message {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    border: none !important;
}
.messages .message-group {
    border: none !important;
}
.messages .message-group {
    border-top: 1px solid var(--gray-scale) !important;
}
.messages .message-group:nth-of-type(2) {
    border-top: none !important;
}
.has-more {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.attachmentInner-3e5fpm {
	overflow: visible !important;
}

/* Users Panel */
.channel-members-wrap,
.channel-members,
.channel-members-loading {
    background: transparent !important;
}
.background {
    -webkit-animation: none !important;
    background: transparent !important;
    background-image: none !important;
    background-color: none !important;
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.channel-members-loading {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Opened User Panel */
.flex-lFgbSz div[class^="topSection"],
.body-3_tdh6 {
    background: rgba(0,0,0,.8) !important;
}
.tabBarContainer-3RVZc-,
.connectedAccounts-3WWAND  div {
    border: none !important;
}

/* User Panel */
.header-3budic,
.body-3ljq11,
.footer-2wFs91,
input[class^="quick"] {
    background: rgba(0,0,0,.8) !important;
}
div[class^="protip"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.userPopout-11hFKo {
    box-shadow: none !important;
}
.member:hover,
.member.popout-open {
    background: var(--gray-scale) !important;
}

/* Right Click Menu */
.contextMenu-uoJTbz,
.itemSubMenu-3ZgIw- {
    background: rgba(0,0,0,.8) !important;
    box-shadow: none !important;
}
.itemGroup-oViAgA {
    border: none !important;
}
.itemSubMenu-3ZgIw-:hover,
.item-1XYaYf:hover,
.danger-1oUOCl:hover {
    background: var(--gray-scale) !important;
}
.emojiPicker-3g68GS {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
}

/* Emotes */
#bda-qem {
    border-bottom: none !important;
    box-shadow: none !important;
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-twitch,
#bda-qem-favourite,
#bda-qem-emojis {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
    box-shadow: none !important
}
#bda-qem-twitch:hover,
#bda-qem-favourite:hover,
#bda-qem-emojis:hover {
    background: var(--gray-scale) !important;
}
#bda-qem-emojis {
    border: none !important;
}
.search-bar-inner {
    background: rgba(0,0,0,.8) !important;
    border: 1px solid var(--gray-scale) !important;
}
.category-3rCtoh,
#bda-qem-favourite-container,
#bda-qem-twitch-container {
    background: rgba(0,0,0,.8) !important;
}
.emojiItem-3l4Fa9.selected-1LQfcZ,
.emote-container:hover {
    background-color: var(--gray-scale) !important;
}
.emojiPicker-3g68GS .scroller-2dsok0::-webkit-scrollbar {
    background: rgba(0,0,0,.8) !important;
    width: 10px !important;
}
.scroller-fzNley.scroller-2dsok0 {
    background: rgba(0,0,0,.8) !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-button {
    background: rgba(0,0,0,.8) !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-track {
    background: rgba(0,0,0,.8) !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-corner {
    background: rgba(0,0,0,.8) !important;
}
.scroller-fzNley.scroller-2dsok0::-webkit-resizer {
    background: rgba(0,0,0,.8) !important;
}
.scroller-fzNley.scroller-2dsok0 {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar {
    background: rgba(0,0,0,.8) !important;
    width: 10px !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-button {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-corner {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-twitch-container .scroller::-webkit-resizer {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar {
    background: rgba(0,0,0,.8) !important;
    width: 10px !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar-button {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
#bda-qem-favourite-container .scroller::-webkit-scrollbar-corner {
    background: rgba(0,0,0,.8) !important;
}
#bda-qem-favourite-container .scroller::-webkit-resizer {
    background: rgba(0,0,0,.8) !important;
}

/* PMs */
.private-channels .channel.selected a,
.private-channels .channel:hover a,
.private-channels .channel a:hover {
    background: var(--gray-scale) !important;
}
.search-bar input {
    color: #FFFFFF !important;
}

/* Activity Feed */
.activityFeed-HeiGwL,
.card-2WxYqG,
div[class^="splashArt"],
.body-8pBSC7 {
    background: transparent !important;
}
.card-2WxYqG {
    border: 1px solid var(--gray-scale) !important;
}
.header-1qeJfQ {
    border-bottom: 1px solid var(--gray-scale) !important;
}
.partyBottomBorder-EvU-Qp,
.sectionLine-3fsQAf {
    background: var(--gray-scale) !important;
}
.carousel-28zrtT,
.section-14gtwb.sectionBottomPadding-2gD6ON {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Friends */
#friends,
.friends-table {
    background: transparent !important;
}
.friends-table-header,
.friends-row {
    border-bottom: 1px solid var(--gray-scale) !important;
}
.friends-column-separator,
.tab-bar-item:hover,
.friends-row:hover {
    background: var(--gray-scale) !important;
}

/* Create Guild */
.create-guild-container,
.form-inner,
.action.create,
.action.join,
.control-group input,
.form-actions,
.form-actions .btn-default {
    background: rgba(0,0,0,.8) !important;
}
.form-actions,
#guild-name,
.regionSelectInner-1cIYbU,
.regionSelect-1lpijo button {
    border: none !important;
}
.regionSelectModal-QBpi1R,
.regionSelectModalOption-3giLPN {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
}

/* Block blocked users, truely */
.message-group-blocked {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}
.quick-message.isBlocked::-webkit-input-placeholder{
	color: transparent !important;
}
.quick-message.isBlocked {
	display: none !important;
	background: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}
.results-blocked {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

/* Image Uploader */
.uploadModal-2KN6Mm,
.inner-1-09ZV,
.footer-4pOKm8 {
    border: none !important;
    background: rgba(0,0,0,.8) !important;
}
.file-XhJJS_ div {
    border: none !important;
}
.bgScale-1i4Cp3 {
    background: rgba(0,0,0,.8) !important;
}
.instructions-KnejBP pre {
    border: none !important;
}
.icon-19bbE_ {
    background-color: transparent !important;
}

/* Online Display */
.status-online {
    background: var(--user-color) !important;
}
.status-invisible {
    background: transparent !important;
    border: 2px solid var(--gray-scale) !important;
}
.inner-ptMwR- .rtc-connection-status-connected {
    color: #FFFFFF !important;
    font-weight: 400 !important
}

/* Search */
.search-popout,
.option:after {
    background: rgba(0,0,0,.8) !important;
}
.option:hover,
.search-popout .selected {
    background: var(--gray-scale) !important;
}
span[class^="searchFilter"],
span[class^="searchAnswer"] {
    background: var(--gray-scale) !important;
}
.search-results-wrap,
.search-header,
.results-wrapper,
.search-results,
.channel-separator:before,
.search-result:before,
.channel-name,
.search-result .hit,
.search-result:after {
    background: transparent !important;
}
.search-result .hit {
    border: none !important;
    -webkit-box-shadow: none !important;
}
.channel-separator:before {
    border-bottom: none !important;
}

/* Calls */
.videoHeight-iWOJGF,
.videoBackground-1cPLw9 {
    background: transparent !important;
}

/* New users panel layout */
.chat svg[name="QuestionMark"] {
    margin: 0px !important;
    margin-right: var(--bar-size) !important;
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: -1 !important;
}
.chat svg[name="QuestionMark"] g path,
.chat svg[name="QuestionMark"] g {
    display: none !important;
}
.channel-members-wrap {
    display: flex;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    margin-top: 18px !important;
    height: 100% !important;
    z-index: 998 !important;
}
.content .flex-spacer.flex-vertical[style="position: relative;"] .messages-wrapper {
    display: flex !important;
    width: var(--chat-width);
}
.content .flex-spacer.flex-vertical[style="position: relative;"] form {
    display: flex !important;
    width: var(--form-width);
}
.chat svg[name="Mention"] {
    margin: 0px !important;
}
.channel-members-wrap .channel-members .old-h2:first-of-type {
    margin-top: 0px !important;
    border: none !important;
}
.channel-members {
    height: var(--adjusted-users-panel) !important;
}
.channel-members-wrap .channel-members .old-h2 {
    padding: 0px !important;
    padding-left: 30px !important;
    margin: 0px !important;
    margin-top: 16px !important;
    margin-bottom: 6px !important;
}

/* Things */
.attachPopout-gjwHsr {
    background: rgba(0,0,0,.8) !important;
}

.jump-to-present-bar {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.themed-popout,
.themed-popout .header,
.messages-popout .message-group,
.action-buttons,
.action-buttons div[class*="jump-button"],
.action-buttons div[class*="text"] {
    background: rgba(0,0,0,.8) !important;
    border: none !important;
    -webkit-box-shadow: none !important;
}
.action-buttons div[class*="text"] {
    color: #FFFFFF !important;
}
.article-35d_yp {
    border: 3px solid var(--gray-scale) !important;
}
.newsIconCircle-2mzNOD,
.content-1RjmSK,
.background-2k0Oi2 {
    background: transparent !important;
}
.container-1WaXoH header,
.container-1WaXoH section {
    background: rgba(0,0,0,.8) !important;
}
.attachment-1Vom9D {
    max-width: inherit !important;
}
#AdventButtonOpen,
#AdventButtonClose,
#AdventButtonOpen2,
#AdventButtonClose2,
#AdventButtonCloseUsers,
#AdventButtonOpenUsers {
    color: var(--neutral-color) !important;
}

/* Dead Embeds
.embedImage-1JnXMa div div div {
    width: 0 !important;
    height: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    background-image: none !important;
    background: none !important;
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
span.embedImage-1JnXMa div.imageZoom-2suFUV {
    display: block !important;
    float: left !important;
    position: absolute !important;
    text-align: left !important;
    font-size: 135% !important;
    width: inherit !important;
    height: inherit !important;
    right: 2px !important;
    bottom: 8px !important;
    word-wrap: normal !important;
}
span.embedImage-1JnXMa div.imageZoom-2suFUV:after {
    content: "x" !important;
    color: #FF0000 !important;
} */

/* Kek */
