:root {
    --font-size-pre: calc(var(--guild-size) * 2.2);
    --font-size: calc(var(--font-size-pre) / 10);
    --read-all-font-size-pre: calc(var(--guild-size) * 2.4);
    --read-all-font-size: calc(var(--read-all-font-size-pre) / 10);
    --friend-icon-size: calc(var(--guild-size) / 1.35);
    --guild-add-size-h-pre1: calc(var(--guild-size) * -1);
    --guild-add-size-h-pre2: calc(var(--guild-size) * 2);
    --guild-add-size-h-pre3: calc(var(--guild-add-size-h-pre1) / 2);
    --guild-add-size-h-pre4: calc(var(--guild-add-size-h-pre2) / 100);
    --guild-add-size-h: calc(var(--guild-add-size-h-pre3) + var(--guild-add-size-h-pre4));
    --guild-add-size-v-pre1: calc(var(--guild-add-size-h-pre1) * 2);
    --guild-add-size-v-pre2: calc(var(--guild-add-size-v-pre1) / 100);
    --guild-add-size-v-pre3: calc(var(--guild-size) / 150);
    --guild-add-size-v: calc(var(--guild-add-size-v-pre2) + var(--guild-add-size-v-pre3));
}

/* Base Theming */
html,
head,
body,
#app-mount,
#app-mount > [class*="titleBar"]:first-child,
#app-mount > [class*="app"]:nth-of-type(2),
.app,
.app > [class*="layers"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child,
.guilds-wrapper,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="flex"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="container"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="container"]:nth-of-type(3),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="titleWrapper"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="titleWrapper"]:first-child > [class*="flex"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form > [class*="typing"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form > [class*="channel"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form > [class*="channel"]:first-child > [class*="inner"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="channel"]:nth-of-type(2),
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="channel"]:nth-of-type(2) > [class*="scroll"]:first-child,
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="channel"]:nth-of-type(2) > [class*="scroll"]:first-child > [class*="scroll"]:first-child {
    background: transparent !important;
}

/* TitleBar */
#app-mount > [class*="titleBar"]:first-child [class*="wordmark"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* App */
.app {
    text-rendering: geometricPrecision !important;
}

/* Guilds */
.guilds-wrapper [class^="unread-mentions-indicator"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.guilds-wrapper {
    width: inherit !important;
}
.guilds-wrapper div {
    margin: 0px !important;
}
.guilds-wrapper .scroller-wrap {
    width: 100% !important;
    padding-right: 10px !important;
}
.guilds-wrapper .scroller-wrap ::-webkit-scrollbar {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0px !important;
    background: transparent !important;
}
.guilds-wrapper .guilds > [class*="guild"]:first-child .guild-inner {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
.guilds-wrapper .guilds .friends-icon {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--friend-icon-size) !important;
}
.guilds-wrapper .guilds .guild {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
.guilds-wrapper .guilds .guild:nth-of-type(n+2) {
    margin-top: 7px !important;
}
.guilds-wrapper .guilds .guild:nth-of-type(n+4) .guild-inner a{
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
.guilds-wrapper .guilds .guild:nth-of-type(n+4) .avatar-small {
    background-size: var(--guild-size) !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background-color: transparent !important;
}
.guilds-wrapper .guilds .dms {
    position: relative !important;
    margin-left: 0px !important;
    margin-bottom: 7px !important;
    margin-top: -4px !important;
    margin-right: 0px !important;
    transform: translate(7px) !important;
    z-index: 0 !important;
}
.guilds-wrapper .guilds .dms .guild {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    right: 7px !important;
}
.guilds-wrapper .guilds .dms .guild-inner {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    margin-top: 7px !important;
}
.guilds-wrapper .guilds .dms .guild-inner .avatar-small {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--guild-size) !important;
}
.guilds-wrapper .guilds .guild-separator {
    height: 1px !important;
    width: var(--guild-size) !important;
    margin-bottom: 7px !important;
}
.guilds-wrapper .guilds .guild-separator:after {
    height: 1px !important;
    margin-top: 2px !important;
    left: 0% !important;
    right: 0% !important;
    width: 100% !important;
    background: var(--user-color) !important;
}
.guilds-wrapper .guilds .friends-online{
    font-size: var(--font-size) !important;
    text-align: left !important;
    white-space: nowrap !important;
    width: var(--guild-size) !important;
    word-wrap: normal !important;
}
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before {
    background: var(--user-color) !important;
}
.guilds-wrapper .guilds .guilds-add {
    background: transparent !important;
    margin-top: 7px !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    border: 2px dashed var(--gray-scale) !important;
}
.guilds-wrapper .guilds .guilds-add:hover {
    border: 2px dashed var(--user-color) !important;
}
.guilds-wrapper .guilds .guilds-add:after {
    content: "+" !important;
    color: var(--gray-scale) !important;
    position: absolute !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    font-size: var(--guild-size) !important;
    line-height: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin-left: var(--guild-add-size-h) !important;
    margin-top: var(--guild-add-size-v) !important;
}
.guilds-wrapper .guilds .guilds-add:hover:after {
    color: var(--user-color) !important;
}
.guilds-wrapper .guilds .guilds-add-inner {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Server Channels */
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="flex"]:first-child > [class*="positionedContainer"],
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="flex"]:first-child > [class*="unreadBottom"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.private-channels > [class*="scroll"]:nth-of-type(2) > [class*="scroll"]:first-child > [class*="select"],
.private-channels > [class*="scroll"]:nth-of-type(2) > [class*="scroll"]:first-child > [class*="private"]:hover,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="Select"] [class*="Select"],
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="content"]:hover,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="Hover"],
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="Hover"]:hover,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="Voice"] [class*="Voice"] [class*="flex"]:nth-of-type(3) div [class*="wrapper"] {
    background: var(--gray-scale) !important;
}
.private-channels > [class*="scroll"]:nth-of-type(2) > [class*="scroll"]:first-child > [class*="select"] a,
.private-channels > [class*="scroll"]:nth-of-type(2) > [class*="scroll"]:first-child:hover a,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="Select"] [class*="Select"] *,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="content"]:hover *,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="Hover"] *,
[class*="channels"] > [class*="flex"]:first-child > [class*="scroll"]:nth-of-type(4) > [class*="scroll"]:first-child [class*="container"] [class*="container"] [class*="wrapper"] [class*="Hover"]:hover * {
    background: none !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="channels"]:first-child > [class*="container"]:nth-of-type(2) {
    border: none !important;
}

/* Chat */
.messages.scroller::-webkit-scrollbar {
    background: transparent !important;
    width: 10px !important;
}
.messages.scroller::-webkit-scrollbar-button {
    background: transparent !important;
}
.messages.scroller::-webkit-scrollbar-track {
    background: transparent !important;
}
.messages.scroller::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: none !important;
}
.messages.scroller::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
.messages.scroller::-webkit-scrollbar-corner {
    background: transparent !important;
}
.messages.scroller::-webkit-resizer {
    background: transparent !important;
}
.chat .divider {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 0px !important;
    width: 0px !important;
    background: none !important;
    position: absolute !important;
}
.message-group .message.mentioned .message-text {
    display: flex !important;
    left: 0px !important;
    white-space: nowrap !important;
    width: fit-content !important;
}
.message-group .message.mentioned .message-text .btn-reaction {
    display: block !important;
    position: absolute !important;
    float: right !important;
    left: calc(100% + 4px) !important;
    top: 4px !important;
}
.message-group .message.mentioned .message-text .btn-option {
    display: block !important;
    position: absolute !important;
    left: calc(100% + 24px) !important;
    top: 4px !important;
}
.message-group .message.mentioned .message-text:after {
    background: none !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="message"] {
    background: var(--gray-scale-third) !important;
    color: var(--user-color) !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="scroll"]:first-child > [class*="message"]:first-child [class*="mentioned"] [class*="message-text"] {
    background-color: var(--user-color-semi-trans) !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="scroll"]:first-child > [class*="message"]:first-child [class*="mentioned"] [class*="message-text"]:after {
    border-left: 4px solid var(--user-color) !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="scroll"]:first-child > [class*="message"]:first-child span[class*="mention"] {
    color: var(--user-color) !important;
    background-color: var(--user-color-semi-trans) !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="scroll"]:first-child > [class*="message"]:first-child [class*="mentioned"] span[class*="mention"] {
    color: var(--user-color) !important;
    background-color: transparent !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form > [class*="channel"]:first-child > [class*="inner"]:first-child {
    border: 1px solid var(--gray-scale) !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > form {
    box-shadow: none !important;
}
.app > [class*="layers"]:first-child > [class*="layer"]:first-child > [class*="flex"]:first-child > [class*="flex"]:nth-of-type(2) > [class*="flex"]:nth-of-type(2) > [class*="chat"]:nth-of-type(2) > [class*="content"]:nth-of-type(2) > [class*="flex"]:first-child > [class*="message"]:first-child > [class*="scroll"]:first-child > [class*="message"]:first-child [class*="default"] {
    background: transparent !important;
}
[class*="typing"] > [class*="ellipsis"]:first-child {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.channel-members-loading,
.channel-members-loading .background {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.jump-to-present-bar,
.has-more {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
}
.small-popout-box {
    background: var(--gray-scale-third) !important;
    border: 1px solid var(--gray-scale) !important;
    border-radius: 0px !important;
}
[class*="contextMenu"] {
    background: var(--gray-scale-third) !important;
    border: none !important;
    box-shadow: none !important;
}
[class*="contextMenu"] [class*="item"] [class*="itemSubMenu"] {
    background-color: var(--gray-scale-third) !important;
    border: none !important;
    box-shadow: none !important;
}

/* Emotes */
[class*="emojiPicker"],
[class*="emojiPicker"] > [class*="header"]:nth-of-type(2),
[class*="emojiPicker"] > [class*="header"]:nth-of-type(2) > [class*="search"]:first-child,
[class*="emojiPicker"] > [class*="header"]:nth-of-type(2) > [class*="search"]:first-child > [class*="search"]:first-child,
[class*="emojiPicker"] > [class*="header"]:nth-of-type(2) > [class*="divers"]:nth-of-type(2),
[class*="emojiPicker"] > [class*="header"]:nth-of-type(2) > [class*="divers"]:nth-of-type(2) > [class*="popout"]:first-child,
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3),
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child,
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child > [class*="sticky"]:first-child,
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child > [class*="sticky"]:first-child div,
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="recent"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="custom"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="people"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="nature"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="food"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="activities"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="travel"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="objects"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="symbols"],
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child [name*="flags"],
[class*="emojiPicker"] > [class*="categor"]:nth-of-type(4) {
    background: var(--gray-scale-third) !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
[class*="emojiPicker"] > [class*="dimmer"]:first-child {
    background: transparent !important;
}
[class*="emojiPicker"] > [class*="categor"]:nth-of-type(4) [class*="selected"] {
    border: none !important;
    border-bottom: 2px solid var(--user-color) !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar {
    background: transparent !important;
    width: 10px !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar-button {
    background: transparent !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar-track {
    background: transparent !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: none !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-scrollbar-corner {
    background: transparent !important;
}
[class*="emojiPicker"] > [class*="scroller"]:nth-of-type(3) > [class*="scroller"]:first-child::-webkit-resizer {
    background: transparent !important;
}
#bda-qem-twitch-container,
#bda-qem-favourite-container {
    background: var(--gray-scale-third) !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar,
#bda-qem-favourite-container .scroller::-webkit-scrollbar {
    background: transparent !important;
    width: 10px !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-button,
#bda-qem-favourite-container .scroller::-webkit-scrollbar-button {
    background: transparent !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track,
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track {
    background: transparent !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: none !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,
#bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar-corner,
#bda-qem-favourite-container .scroller::-webkit-scrollbar-corner {
    background: transparent !important;
}
#bda-qem-twitch-container .scroller::-webkit-resizer,
#bda-qem-favourite-container .scroller::-webkit-resizer {
    background: transparent !important;
}
#bda-qem {
    background: var(--gray-scale-third) !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
button[id*="bda-qem"] {
    background: var(--gray-scale-third) !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

/* Embeds */
[class*="embedPill"] {
    background: var(--user-color) !important;
}
[class*="embedInner"] {
    background: transparent !important;
    border: none !important;
}
[class*="embedVideo"] {
    background: transparent !important;
}
[class*="embedVideoActionsInner"] > div {
    background: var(--half-trans) !important;
}

/* Attachments */
[class*="attachment"] {
    background: transparent !important;
    border: 1px solid var(--gray-scale) !important;
    width: fit-content !important;
}
[class*="attachment"] [class*="attachment"] {
    border: none !important;
}

/* Code */
[class*="markup"] pre,
[class*="markup"] pre code {
    background: transparent !important;
    border: none !important;
}
[class*="markup"] pre {
    border: 1px solid var(--gray-scale) !important;
    width: fit-content !important;
}
[class*="markup"] code[class="inline"] {
    background: var(--gray-scale) !important;
    border: none !important;
    width: fit-content !important;
}

/* Context User Panel */
[class*="userPopout"],
[class*="userPopout"] > [class*="header"]:first-child,
[class*="userPopout"] > [class*="body"]:nth-of-type(2),
[class*="userPopout"] > [class*="footer"]:nth-of-type(3) {
    background: var(--gray-scale-third) !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
[class*="userPopout"] > [class*="footer"]:nth-of-type(3) [class*="protip"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* User Panel */
#app-mount > [class*="theme"]:last-of-type > [class*="mod"]:nth-of-type(2) > [class*="inner"]:first-child > [class*="flex"]:first-child {
    border-radius: 0px !important;
}
#app-mount > [class*="theme"]:last-of-type > [class*="mod"]:nth-of-type(2) > [class*="inner"]:first-child > [class*="flex"]:first-child > [class*="top"]:first-child,
#app-mount > [class*="theme"]:last-of-type > [class*="mod"]:nth-of-type(2) > [class*="inner"]:first-child > [class*="flex"]:first-child > [class*="body"]:nth-of-type(2) {
    background: transparent !important;
}

/* Fuck Clyde */
[class*="is-local-bot"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

/* Server Context Menu */
[class*="popout"] > [class*="menu"]:first-child {
    background: var(--gray-scale-third) !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
[class*="popout"] > [class*="menu"]:first-child [class*="separator"] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
}

/* Badges */
.badge {
    background: rgba(0, 0, 0, 1) !important;
    border: 2px solid var(--user-color) !important;
    border-radius: 50% !important;
    padding: 0px !important;
    height: var(--badge-size) !important;
    width: var(--badge-size) !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: var(--badge-size) !important;
    font-weight: 500 !important;
}
.tab-bar .tab-bar-item {
    display: flex !important;
    width: fit-content !important;
    min-width: 0px !important;
    height: var(--badge-size) !important;
}
.tab-bar .tab-bar-item .badge,
.tab-bar .tab-bar-item:hover:not(.selected) .badge {
    color: #FFFFFF !important;
}
.tab-bar .tab-bar-item .badge {
    margin: -2px 0px 0px 7px !important;
    padding: 0px !important;
}
.tab-bar .tab-bar-item.selected {
    text-align: center !important;
    vertical-align: middle !important;
    line-height: var(--badge-size) !important;
}
.tab-bar .tab-bar-item {
    text-align: center !important;
    vertical-align: middle !important;
    line-height: var(--badge-size) !important;
}

/* Status-es */
.status-online {
    background-color: var(--user-color) !important;
}
.status.status-typing {
    width: 77% !important;
    right: 0px !important;
    left: 11px !important;
}
.status-typing {
    background: #000000 !important;
    border: 2px solid var(--user-color) !important;
}
.status-typing .spinner .spinner-item {
    background: var(--user-color) !important;
    opacity: 1 !important;
}
