//META{"name":"Advent","description":"Good theme:tm:","author":"AdventDiscord","version":"5"}*//

@import url("https://rawgit.com/AdventGit/Discord-Things/master/themes/AdventBase2.theme.css");

/* User Assigned */
:root {
    /* User Color */
    --r: 51;
    --g: 181;
    --b: 229;
    /* User Color */
    
    /* Transparency Amount */
    --alpha: 1;
    /* Transparency Amount */
    
    /* Guild Size */
    --guild-size: 42px;
    /* Guild Size */
    
    /* Notification Badge Size */
    --badge-size: 18px;
    /* Notification Badge Size */
    
    /* Don't Touch or Might Not Work */
    --bg-trans: 0, 0, 0, var(--alpha);
    background: rgba(var(--bg-trans)) !important;
    --user-color: rgba(var(--r), var(--g), var(--b), 1);
    --user-color-smooth: rgba(var(--r), var(--g), var(--b), .22);
    --neutral: rgba(100, 100, 100, .5);
    --neutral-opaque: hsla(0, 0%, 16%, .78);
    --neutral-mini-trans: hsla(0, 0%, 16%, .94);
    --neutral-semi-trans: rgba(127, 127, 127, .42);
    --neutral-hsla-trans: hsla(0, 0%, 42%, .3);
    --neutral-hsla-trans-plugin: hsla(0, 0%, 21%, .3);
    --neutral-text: hsla(0, 0%, 100%, .26);
    --neutral-smooth: hsla(0, 0%, 100%, .1);
    --font-size: calc((var(--guild-size) * 2.2) / 10);
    --read-all-font-size: calc((var(--guild-size) * 2.5) / 10);
    --guild-base-size: calc(var(--guild-size) + 4px);
    --guild-base-h: calc((var(--guild-error-size-h) / 10) + 1px);
    --friend-icon-size: calc(var(--guild-size) / 1.35);
    --guild-add-size-h: calc(((var(--guild-size) * -1) / 2) + ((var(--guild-size) * 2) / 100));
    --guild-add-size-v: calc(((var(--guild-size) * -1) / 100) + (var(--guild-size) / 150));
    --guild-error-size-h: calc(var(--guild-add-size-h) - 1px);
    --guild-error-size-v: calc(((((var(--guild-size) * 2) / 2) / 4.6) + 0px) * 2);
    /* Don't Touch or Might Not Work */
}

/* Transparent Discord + Image 
:root::after{
    content: "";
    width: inherit !important;
    height: inherit !important;
    background-image: url("https://puu.sh/zyWqu.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    opacity: .15 !important;
    z-index: -1 !important;
}
*/