//META{"name":"Advent","description":"Good Theme","author":"AdventDiscord","version":"3"}*//

@import url("https://rawgit.com/AdventGit/Discord-Things/master/themes/AdventBase.theme.css");

/* User Assigned */
:root {
    /* Things you can touch */
    background: rgba(0, 0, 0, 1) !important;
    --guild-size: 42px;
    --badge-size: 18px;
    --user-color: rgba(51, 181, 229, 1);
    --user-color-semi-trans: rgba(51, 181, 229, .22);
    --user-color-font-smooth: rgba(51, 181, 229, .1);
    /* Things you can touch */
    /* Things you can touch, but maybe shouldn't unless you know what it actually applies to */
    --dark: rgba(0, 0, 0, .5);
    --light: rgba(205, 205, 205, .5);
    --neutral: rgba(100, 100, 100, .5);
    --neutral-text: hsla(0, 0%, 100%, .5);
    --dark-o: rgba(0, 0, 0, .75);
    --light-o: rgba(205, 205, 205, .75);
    --neutral-o: rgba(100, 100, 100, .75);
    --neutral-smooth: hsla(0, 0%, 100%, .1);
    /* Things you can touch, but maybe shouldn't unless you know what it actually applies to */
    /* Bad Touch under this line... You really shouldn't mess with this m8y */
    --font-size: calc((var(--guild-size) * 2.2) / 10);
    --read-all-font-size: calc((var(--guild-size) * 2.5) / 10);
    --guild-base-size: calc(var(--guild-size) + 4px);
    --guild-base-h: calc((var(--guild-error-size-h) / 10) + 1px);
    --friend-icon-size: calc(var(--guild-size) / 1.35);
    --guild-add-size-h: calc(((var(--guild-size) * -1) / 2) + ((var(--guild-size) * 2) / 100));
    --guild-add-size-v: calc(((var(--guild-size) * -1) / 100) + (var(--guild-size) / 150));
    --guild-error-size-h: calc(var(--guild-add-size-h) - 1px);
    --guild-error-size-v: calc(((((var(--guild-size) * 2) / 2) / 4.6) + 0px) * 2);
    /* Bad Touch above this line... You really shouldn't mess with this m8y */
}

/* Transparent Discord + Image 
:root::after{
    content: "";
    width: inherit !important;
    height: inherit !important;
    background-image: url("https://puu.sh/zyWqu.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    opacity: .15 !important;
    z-index: -1 !important;
}
*/