head,
body,
body > div:first-of-type,
[class^="type"][class*="title"],
[class^="app"][class*="platform"],
[class^="app"][class*="platform"] > [class^="app"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"]:nth-of-type(2) > [class^="ui"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"]:nth-of-type(2) > [class^="ui"]  > [class^="sidebar"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"]:nth-of-type(2) > [class^="ui"]  > [class^="content"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"] > [class^="flex"],
[class^="guildsWrapper"],
[class^="guildsWrapper"] [class^="guilds-"] > button,
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"] > [class^="flex"] > [class^="flex"],
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"] > [class^="flex"] > [class^="flex"] > [class^="flex"]:nth-of-type(2),
[class^="channels"],
[class^="channels"] > [class^="contain"],
[class^="channels"] > [class^="flex"],
[class^="chat"],
[class^="chat"] > [class^="title"],
[class^="chat"] > [class^="title"] > [class^="flex"],
[class^="chat"] > [class^="content"],
[class^="chat"] > [class^="content"] > [class^="flex"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"],
[class^="chat"] > [class^="content"] > [class^="flex"] > form,
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"],
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"],
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [class^="typing"],
[class^="chat"] > [class^="content"] > [class^="member"],
[class^="chat"] > [class^="content"] > [class^="member"] > [class^="scroll"],
[class^="chat"] > [class^="content"] > [class^="member"] > [class^="scroll"] > [class^="scroll"],
[id^="friend"],
[id^="friend"] > [class^="flex"] {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
#files_directDownload span,
.thumbQuicksave,
body > [id^="app"] > [class^="context"] > div > span,
code,
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] > textarea,
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] > textarea::-webkit-input-placeholder,
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="container"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="header"] > [class^="header"] > [class^="time"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="pagination"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="header"] > [class^="header"] > [class^="time"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="separator"] span,
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="search"] div,
[class^="embed"] > [class*="nner"] > [class*="ontent"] > [class*="nner"] > [class*="ield"] > [class*="ield"] > [class*="alue"],
[class^="embed"] > [class*="nner"] > [class*="ooter"] > span,
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] > [class^="search"] > strong,
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] > [class^="search"],
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="header"],
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="option"] span,
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="option"] strong {
    -webkit-text-stroke: .45px var(--neutral-smooth) !important;
    text-shadow: 0px 0px 0px var(--neutral-smooth), -.45px -.45px 0px var(--neutral-smooth), .45px -.45px 0px var(--neutral-smooth), -.45px .45px 0px var(--neutral-smooth), .45px .45px 0px var(--neutral-smooth);
    text-decoration: none !important;
}
.bd-toast,
.bda-links a,
.toast,
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="container"] > [class^="markup"] > a,
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"]:hover,
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="container"] > [class^="markup"] > a,
[class^="embed"] > [class*="nner"] > [class*="ontent"] a {
    -webkit-text-stroke: .45px var(--user-color-smooth) !important;
    text-shadow: 0px 0px 0px var(--user-color-smooth), -.45px -.45px 0px var(--user-color-smooth), .45px -.45px 0px var(--user-color-smooth), -.45px .45px 0px var(--user-color-smooth), .45px .45px 0px var(--user-color-smooth);
    text-decoration: none !important;
}
#bd-pub-button,
#RANbutton,
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] > div,
body > [id^="app"] > [class^="context"] > div > span,
body > [id^="app"] > [class^="context"] div > div,
body > [id^="app"] > [class^="context"] span,
[class^="guildsWrapper"] [class^="guilds-"] > [class^="friend"] {
    -webkit-text-stroke: .45px var(--neutral-smooth) !important;
    text-decoration: none !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] > div[class*="leave"],
body > [id^="app"] > [class^="context"] div > div[class*="danger"] span,
body > [id^="app"] > [class^="context"] div > div[class*="danger"] {
    -webkit-text-stroke: .45px red !important;
    text-decoration: none !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-resizer,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-button,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-corner,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-track,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-track-piece {
    visibility: hidden !important;
    background: transparent !important;
}
[class*="scroll"] > [class*="scroll"]:hover::-webkit-resizer,
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar,
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-button,
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-corner,
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-track,
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-track-piece {
    visibility: visible !important;
    background: transparent !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-track-piece,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-thumb {
    visibility: hidden !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar {
    width: 4px !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-track-piece {
    border: none !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-thumb {
    background: transparent !important;
    border: none !important;
}
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-track-piece,
[class*="scroll"] > [class*="scroll"]::-webkit-scrollbar-thumb {
    visibility: visible !important;
}
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar {
    width: 4px !important;
}
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-track-piece {
    border: none !important;
}
[class*="scroll"] > [class*="scroll"]:hover::-webkit-scrollbar-thumb {
    background: var(--user-color) !important;
    border: none !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class*="scroll"] > [class*="scroll"]::-webkit-scrollbar {
    width: 8px !important;
}
[class^="app"][class*="platform"] > [class^="app"] > [class^="layer"] > [class^="layer"]:nth-of-type(2) > [class^="ui"] > [class^="sidebar"] {
    z-index: 2 !important;
}
[class^="wrapper"][class*="badge"],
.betterfriendcount-badge {
    background: rgba(0, 0, 0, 1) !important;
    border: 2px solid var(--user-color) !important;
    border-radius: 50% !important;
    padding: 0px !important;
    height: var(--badge-size) !important;
    width: var(--badge-size) !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: var(--badge-size) !important;
    font-weight: 500 !important;
}
*::selection {
    background-color: var(--user-color-smooth) !important;
}
[class^="guildsWrapper"] {
    width: inherit !important;
}
[class^="guildsWrapper"] div {
    margin: 0px !important;
}
[class^="guildsWrapper"] > [class^="scroll"] {
    width: 100% !important;
    padding-right: 10px !important;
}
[class^="guildsWrapper"] [href="/activity"],
[class^="guildsWrapper"] [href*="@"],
[class^="guildsWrapper"] [href="/library"],
[class^="guildsWrapper"] [href="/store"] {
    height: var(--guild-base-size) !important;
    width: var(--guild-base-size) !important;
    margin-left: var(--guild-base-h) !important;
}
[class^="guildsWrapper"] [href="/activity"] use,
[class^="guildsWrapper"] [href*="@"] use,
[class^="guildsWrapper"] [href="/library"] use,
[class^="guildsWrapper"] [href="/store"] use {
    fill: var(--neutral-semi-trans) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="guild-"]:first-child [class^="guildInner"],
[class^="guildsWrapper"] [class^="guilds-"] > [class^="guild-"],
[class^="guildsWrapper"] [class^="guilds-"] > [class^="guild-"]:nth-of-type(n+4) [class^="guildInner"] a{
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="friend"]:not([class^="friendsO"]) {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--friend-icon-size) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="icon"] {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--guild-size) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"]:nth-of-type(n+2) {
    margin-top: 7px !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"]:nth-of-type(n+4) .avatar-small {
    background-size: var(--guild-size) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"] [class^="guildInner"] {
    background-color: transparent !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="dms-"] {
    position: relative !important;
    margin: -4px 0px 5px 0px !important;
    z-index: 0 !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="dms-"] [class^="guild-"],
[class^="guildsWrapper"] [class^="guilds-"] > [class^="dms-"] [class^="guildInner"] {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    margin-top: 7px !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="dms-"] [class^="guildInner"] .avatar-small {
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    background-size: var(--guild-size) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="guildSeparator"] {
    height: 1px !important;
    width: var(--guild-size) !important;
    margin-bottom: 7px !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="guildSeparator"]:after {
    height: 1px !important;
    margin-top: 2px !important;
    left: 0% !important;
    right: 0% !important;
    width: 100% !important;
    background: var(--user-color) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class^="friend"] {
    font-size: var(--font-size) !important;
    text-align: left !important;
    white-space: nowrap !important;
    width: var(--guild-size) !important;
    word-wrap: normal !important;
    height: 18px !important;
    line-height: 18px !important;
	color: var(--neutral-text) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"][class*="unread"]:before,
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"][class*="selected"]:before {
    background: var(--user-color) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] [class^="guild-"]:first-of-type[class*="selected"]:before {
	background: transparent !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsAdd"] {
    margin-top: 7px !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    border: 2px dashed var(--neutral) !important;
    font-size: 0px !important;
    line-height: 0px !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsAdd"]:after {
    content: "+" !important;
    color: var(--neutral) !important;
    position: absolute !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    font-size: var(--guild-size) !important;
    line-height: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin-left: var(--guild-add-size-h) !important;
    margin-top: var(--guild-add-size-v) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsAdd"]:hover {
    border: 2px dashed var(--user-color) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsAdd"]:hover:after {
    color: var(--user-color) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsError"] {
    margin-top: 7px !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    border: 2px dashed var(--neutral) !important;
    font-size: 0px !important;
    line-height: 0px !important;
    font-weight: 500 !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsError"]:after {
    content: "!" !important;
    color: var(--neutral) !important;
    position: absolute !important;
    height: var(--guild-size) !important;
    width: var(--guild-size) !important;
    font-size: var(--guild-size) !important;
    line-height: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin-left: var(--guild-error-size-h) !important;
    margin-top: var(--guild-error-size-v) !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsError"]:hover {
    border: 2px dashed red !important;
}
[class^="guildsWrapper"] [class^="guilds-"] > [class*="guildsError"]:hover:after {
    color: red !important;
}
[class^="channels"] > [class^="flex"] > [class^="flex"] > [class^="container"] > [class^="header"],
[class^="channel"] > [class^="private"] > [class^="search"] {
    box-shadow: none !important;
}
[class^="channel"] > [class^="private"] > [class^="scroll"] > [class^="scroll"] > [class^="channel"]:nth-of-type(3),
[class^="channel"] > [class^="private"] > [class^="scroll"] > [class^="scroll"] > [class^="channel"]:nth-of-type(4)    {
    display: none !important;
}
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class*="Selected"][class*="Text"] > [class*="content"],
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class*="Hovered"][class*="Text"] > [class*="content"] {
    background: var(--neutral) !important;
}
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container-1"] > div > [class^="container"] > [class^="flex"] > [class^="name"],
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class^="flex"] > [class^="name"],
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class*="wrapper"] > [class*="content"] > [class^="name"],
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class*="hidden"] > [class^="container"] > [class*="flex"] > [class^="color"] {
    color: var(--neutral-text) !important;
}
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class*="wrapper"] > [class*="unread"] {
    background: var(--user-color) !important;
}
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] svg {
    color: var(--neutral-text) !important;
}
[class^="channels"] > [class^="flex"] > [class^="scroll"] > [class^="scroll"] > [class^="container"] > [class^="container"] > [class^="flex"] > div > [class^="voice"] > [class^="name"] {
    color: var(--neutral-text) !important;
}
@keyframes decay {
    from {
        top: 0px;
        opacity: 1;
    }
    
    to {
        top: -22px;
        opacity: 0;
    }
}
@keyframes revive {
    from {
        top: -22px;
        opacity: 0;
    }
    
    to {
        top: 0px;
        opacity: 1;
    }
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="new"] {
    display: flex !important;
    background: var(--dark) !important;
    animation: decay .4s linear 2s 1 normal forwards;
    color: var(--user-color) !important;
    position: absolute !important;
    top: 0px !important;
    bottom: unset !important;
    left: 50% !important;
    right: unset !important;
    width: fit-content !important;
    text-transform: unset !important;
    transition: unset !important;
    border-radius: 0px 0px 3px 3px !important;
    transform: translate(-50%, 0%) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="new"]:hover {
    animation: revive .4s linear 0s 1 normal forwards;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="new"] button {
    color: var(--user-color) !important;
}
.emoji {
    margin: 0px !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="header"] > [class^="header"] > [class^="time"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"]::after {
    background: var(--user-color-smooth) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"]::after {
    border-left: 4px solid var(--user-color) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"]:hover {
    background: var(--user-color-smooth) !important;
    border: none !important;
    border-radius: 4px !important;
    color: var(--user-color) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] > [class^="mention"]:hover {
    background: transparent !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="message"] > [class^="content"] > [class^="container"] > [class^="markup"] > a {
    color: var(--user-color) !important;
}
code[class^="inline"] {
    background: var(--neutral-semi-trans) !important;
    color: var(--neutral-text) !important;
}
[class^="markup"] pre {
    background: transparent !important;
    border: none !important;
}
[class^="markup"] pre code {
    background: var(--neutral-hsla-trans) !important;
    border-radius: 4px !important;
}
code {
    color: var(--neutral-text) !important;
}
[class^="embed"] {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}
[class^="embed"] > [class*="ill"] {
    background-color: var(--user-color) !important;
}
[class^="embed"] > [class*="nner"] {
    background: var(--neutral-hsla-trans) !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}
[class^="embed"] > [class*="ideo"][class*="nner"] {
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
[class^="embed"] > [class*="ideo"][class*="nner"] > [class^="wrapper"] {
    background: var(--dark) !important;
    border: none !important;
    border-radius: 24px !important;
    box-shadow: none !important;
    color: var(--light) !important;
}
[class^="embed"] > [class*="ideo"][class*="nner"] > [class^="wrapper"] a {
    color: var(--light) !important;
}
[class^="embed"] > [class*="nner"] > [class*="ontent"] > [class*="nner"] {
    background: transparent !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
}
[class^="embed"] > [class*="nner"] > [class*="ontent"] a {
    color: var(--user-color) !important;
}
[class^="embed"] > [class*="nner"] > [class*="ontent"] > [class*="nner"] > [class*="ield"] > [class*="ield"] > [class*="ame"] {
    color: #FFFFFF !important;
    -webkit-text-stroke: .45px var(#FFFFFF) !important;
    text-shadow: 0px 0px 0px var(#FFFFFF), -.45px -.45px 0px var(#FFFFFF), .45px -.45px 0px var(#FFFFFF), -.45px .45px 0px var(#FFFFFF), .45px .45px 0px var(#FFFFFF);
}
[class^="embed"] > [class*="nner"] > [class*="ontent"] > [class*="nner"] > [class*="ield"] > [class*="ield"] > [class*="alue"],
[class^="embed"] > [class*="nner"] > [class*="ooter"] > span {
    color: var(--neutral-text) !important;
}
[class^="embed"] > [class*="nner"] > [class*="image"] > img {
    border-radius: 4px !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] {
    background: transparent !important;
    box-shadow: 0px 0px 1px 1px var(--neutral), 0px 0px .5px .5px var(--neutral-smooth) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] > textarea,
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] > textarea::-webkit-input-placeholder {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="flex"] > form > [id^="channel"] > [class^="channel"] > [class^="inner"] > [class^="picker"] > [tabindex="2"] {
    height: unset !important;
}
[class^="chat"] > [class^="content"] > [class^="member"] > [class^="scroll"] > [class^="scroll"] > [class^="member"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="member"] > [class^="scroll"] > [class^="scroll"] > [class^="member"]:hover > [class^="content"],
[class^="chat"] > [class^="content"] > [class^="member"] > [class^="scroll"] > [class^="scroll"] > [class*="pop"] > [class^="content"] {
    background: var(--neutral) !important;
}
[class^="search"] > [class^="search"] > [class^="search"] {
    background: transparent !important;
}
[class^="channels"] > [class^="flex"] > [class^="pos"] > [class^="unread"] > [class^="bar"],
[class^="channels"] > [class^="flex"] > [class^="unread"] > [class^="bar"] {
    visibility: hidden !important;
}
[class^="channels"] > [class^="flex"] > [class^="pos"] > [class^="unread"] > [class^="bar"][class*="mention"],
[class^="channels"] > [class^="flex"] > [class^="unread"] > [class^="bar"][class*="mention"] {
    background: var(--user-color-smooth) !important;
    border-radius: 4px !important;
    color: transparent !important;
    font-size: 0px !important;
    height: 20px !important;
    width: 100% !important;
    visibility: visible !important;
}
[class^="channels"] > [class^="flex"] > [class^="pos"] > [class^="unread"] > [class^="bar"][class*="mention"]:before,
[class^="channels"] > [class^="flex"] > [class^="unread"] > [class^="bar"][class*="mention"]:before {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
}
[class^="channels"] > [class^="flex"] > [class^="pos"] > [class^="unread"][class*="Top"] > [class^="bar"][class*="mention"] {
    transform: translateY(-24px) !important;
}
[class^="channels"] > [class^="flex"] > [class^="unread"][class*="Bottom"] > [class^="bar"][class*="mention"] {
    transform: translateY(24px) !important;
}
body > [id^="app"] > [class^="context"], 
body > [id^="app"] > [class^="context"] [class^="context"] {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    background: var(--neutral-opaque) !important;
}
body > [id^="app"] > [class^="context"] > div,
body > [id^="app"] > [class^="context"] [class^="context"] > div {
    border: none !important;
    box-shadow: none !important;
}
body > [id^="app"] > [class^="context"] > div > div:hover,
body > [id^="app"] > [class^="context"] [class^="context"] > div > div > div:hover,
body > [id^="app"] > [class^="context"] [class*="edit"] > div div:hover,
body > [id^="app"] > [class^="context"] [class*="edit"] > div > div[class^="item"][class*="disabled"]:hover {
    background: var(--neutral-hsla-trans) !important;
    border-radius: 4px !important;
}
.HideUtils {
    border: none !important;
}
.HideUtils > div {
    background: unset !important;
}
.HideUtils > div:hover {
    background: var(--neutral-hsla-trans-plugin) !important;
    border-radius: 4px !important;
}
body > [id^="app"] > [class^="context"] > div > div[class*="Sub"],
body > [id^="app"] > [class^="context"] > div > div[class*="Sub"]:hover {
    background: url(https://ptb.discordapp.com/assets/e4afe52f6863408a35654a6e5fd69ba9.svg) no-repeat 155px 50% !important;
}
body > [id^="app"] > [class^="context"] > div > div[class*="Sub"]:hover {
    background-color: var(--neutral-hsla-trans) !important;
}
body > [id^="app"] > [class^="context"] span,
body > [id^="app"] > [class^="context"] div > div {
    color: var(--neutral-text) !important;
}
body > [id^="app"] > [class^="context"] div > div[class*="danger"],
body > [id^="app"] > [class^="context"] div > div[class*="danger"] span {
    color: red !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    background: var(--neutral-opaque) !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] > div:hover {
    background: var(--neutral-hsla-trans) !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] > div {
    color: var(--neutral-text) !important;
}
body > [id^="app"] > [class*="popout"] > [class^="popout"] > [class^="menu"] > div[class*="leave"] {
    color: red !important;
}
/*Search
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] {
    height: fit-content !important;
    width: fit-content !important;
    top: 55px !important;
    left: unset !important;
    right: 0px !important;
    bottom: unset !important;
    transform: none !important;
    border-radius: 4px !important;
}*/
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] {
    height: fit-content !important;
    width: fit-content !important;
    background: var(--neutral-mini-trans) !important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] {
    background: transparent !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="results"] > [class^="option"] {
    width: 289px !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="results"] > [class^="option"][class*="select"] {
    background: var(--neutral-hsla-trans) !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="results"]:before {
    border: none !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] > [class^="search"],
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] > [class^="search"] > strong,
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="header"],
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="option"] span,
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="option"] strong {
    color: var(--neutral-text) !important;
}
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="result"] > [class^="option"]> div svg path {
    fill: var(--neutral-semi-trans) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="search"] {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="search"] div {
    opacity: 1 !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="search"] div,
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="pagination"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="separator"] span {
    background: transparent !important;
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="separator"]::before {
    border: none !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] * {
    border: none !important;
    box-shadow: none !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] {
    padding: 2px 0px 0px 0px !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"][class*="expanded"] {
    border: none !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="header"] > [class^="header"] > [class^="time"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"]::after {
    background: var(--user-color-smooth) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"]::after {
    border-left: 4px solid var(--user-color) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class*="container"] > [class^="markup"] > [class^="mention"]:hover {
    background: var(--user-color-smooth) !important;
    border: none !important;
    border-radius: 4px !important;
    color: var(--user-color) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] > [class^="mention"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] > [class^="mention"]:hover {
    background: transparent !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="isM"] > [class^="markup"] {
    color: var(--neutral-text) !important;
}
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="hit"] > [class^="message"] > [class^="message"] > [class^="content"] > [class^="container"] > [class^="markup"] > a {
    color: var(--user-color) !important;
}
body > div:first-of-type > [class*="popout"] > [class^="no"] > [class^="user"] > [class^="foot"],
[class*="Education"],
[class*="jumpToPresent"],
[class*="noticeFacebook"],
[class*="personalizationNotice"],
[class^="channels"] > [class^="flex"] > [class^="channel"],
[class^="channels"] > [class^="flex"] > [class^="pos"] > [class^="unread"] > [class^="bar"] > svg,
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="container"] > [class^="divider"]:last-of-type,
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="divider"],
[class^="chat"] > [class^="content"] > [class^="flex"] > [class^="message"] > [class^="scroll"] > [class^="message"] > [class^="has"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="after"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="before"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"] > [class*="sibling"],
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"]::after,
[class^="chat"] > [class^="content"] > [class^="search"] > [class^="scroll"] > [class^="scroll"] > [class^="results"] > [class^="search"] > [class*="search"]::before,
[class^="divider"],
[class^="gameLibrary"],
[class^="guildsWrapper"] > [class^="scroll"] ::-webkit-scrollbar,
[class^="guildsWrapper"] > [class^="unread"] > [class^="bar"],
[class^="isLocalBot"],
[class^="loadingMore"],
[class^="member"] > [class^="scroll"] [class*="older"],
[class^="missingAccess"],
[class^="separator"],
[class^="type"][class*="title"] > [class^="word"],
[style*="z-index: 1001"][style*="visibility: visible"][style*="transform: translateX(-50%) translateY(0%) translateZ(0px)"] > [class^="search"] > [class^="option"] > [class^="key"],
[class^="message"][class*="locked"],
body > div:first-of-type  > div:nth-of-type(2) > div:first-of-type > div:nth-of-type(2) > div:first-of-type > div:first-of-type > div:nth-of-type(2) > div:first-of-type,
body > div:first-of-type  > div:nth-of-type(2) > div:first-of-type > div:first-of-type > div:first-of-type > div:first-of-type > div:nth-of-type(2) > div:first-of-type {
    -webkit-box-direction: unset !important;
    -webkit-box-orient: unset !important;
    -webkit-box-pack: unset !important;
    animation: unset !important;
    background: transparent !important;
    border-radius: 0px !important;
    border: unset !important;
    bottom: unset !important;
    box-shadow: unset !important;
    box-sizing: unset !important;
    color: unset !important;
    cursor: unset !important;
    display: unset !important;
    flex-direction: unset !important;
    flex-wrap: unset !important;
    font-size: 0px !important;
    height: 0px !important;
    justify-content: unset !important;
    left: unset !important;
    letter-spacing: 0px !important;
    line-height: 0px !important;
    margin: 0px !important;
    opacity: 0 !important;
    outline: unset !important;
    overflow: unset !important;
    padding: 0px !important;
    pointer-events: unset !important;
    position: absolute !important;
    right: unset !important;
    top: unset !important;
    transform: unset !important;
    transition: unset !important;
    vertical-align: unset !important;
    visibility: hidden !important;
    width: 0px !important;
    z-index: -99999 !important;
}
#bd-pub-li {
    height: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
#bd-pub-li [class^="guildInner"] {
    height: inherit !important;
    border-radius: 0px !important;
    width: 60px !important;
    margin-left: -8px !important;
}
#bd-pub-button,
#bd-pub-li.RANbutton {
    font-size: var(--read-all-font-size) !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    color: var(--neutral-text) !important;
}
#bd-pub-button {
    visibility: hidden !important;
    line-height: 18px !important;
    position: absolute !important;
    float: left !important;
    left: 50% !important;
    top: 45% !important;
    transform: translate(-50%, -50%) !important;
}
#bd-pub-button:after {
    content: "Server Menu" !important;
    visibility: visible !important;
    line-height: 18px !important;
    position: absolute !important;
    float: left !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
#bd-pub-li.RANbutton-frame {
    height: 0px !important;
    margin-top: -5px !important;
    margin-bottom: 18px !important;
}
#bd-pub-li a,
#bd-pub-li.RANbutton-frame a {
    height: 13px !important;
    width: fit-content !important;
}
.bda-slist li {
    background: var(--neutral-hsla-trans);
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 0px 0px 4px 1px var(--neutral) inset !important;
}
.bda-header,
.bda-description-wrap,
.bda-footer {
    border: none !important;
}
.bda-links a {
    color: var(--user-color) !important;
}
/*.thumbQuicksave {
    background: var(--neutral-hsla-trans) !important;
    color: var(--neutral-text) !important;
    display: block !important;
    position: absolute !important;
    top: 4px !important;
    left: 4px !important;
    margin: 0px !important;
    padding: 3px 5px 3px 5px !important;
    border-radius: 3px !important;
}*/
.downloadLink-2oSgiF:hover {
    text-decoration: none !important;
}
.translate-button {
    width: 22px !important;
    height: 22px !important;
}
.send-button {
    width: 26px !important;
    height: 26px !important;
    position: absolute !important;
    right: 9px !important;
    top: 9px !important;
}
#files_directDownload {
    cursor: move !important;
}
#files_directDownload span {
    color: var(--neutral-text) !important;
    background: var(--neutral-hsla-trans) !important;
    border: 1px solid var(--neutral) !important;
    border-radius: 3px !important;
}
#files_directDownload svg {
    fill: var(--neutral) !important;
}
#files_directDownload .file .progress-bar {
    background: var(--user-color) !important;
}
#qs_button {
    display: block !important;
    margin-top: -30px !important;
    margin-left: 90px !important;
}
body > [id^="app"] > [class^="context"] > div > span {
    color: var(--neutral-text) !important;
}
body > [id^="app"] > [class^="context"] > div[class^="item-"]:hover {
    background: var(--neutral-hsla-trans) !important;
}
.downloadLink-1ywL9o {
    width: fit-content !important;
}
.toasts {
    display: block !important;
    position: absolute !important;
    width: inherit !important;
    float: left !important;
    bottom: 8% !important;
    left: 0px !important;
    right: 0px !important;
    top: unset !important;
    flex-direction: inherit !important;
    align-items: baseline !important;
    justify-content: inherit !important;
    pointer-events: none !important;
    z-index: 9999 !important;
}
.toast {
    background: var(--neutral-hsla-trans) !important;
    opacity: 1 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: var(--user-color) !important;
    user-select: text !important;
    pointer-events: none !important;
    transform: translateY(-10px) !important;
    width: fit-content !important;
    margin: 10px auto 0px auto !important;
    padding: 10px !important;
}
.notice-2FJMB4 {
    background: transparent !important;
    -webkit-app-region: no-drag !important;
    border-bottom: 1px solid var(--user-color) !important;
    border-radius: 0px !important;
    width: fit-content !important;
    left: calc(50% - 10px) !important;
    transform: translate(-50%, 0%) !important;
}
.dismiss-SCAH9H {
    width: 36px !important;
    height: 36px !important;
    background-position: 98% !important;
    background-size: 10px !important;
    bottom: 0px !important;
    right: 8px !important;
    left: unset !important;
    top: 0px !important;
    opacity: 1 !important;
    transition: none !important;
    border-bottom: 1px solid var(--user-color) !important;
}
.bd-toasts {
    display: block !important;
    position: absolute !important;
    float: left !important;
    bottom: 8% !important;
    left: 50% !important;
    right: 0px !important;
    top: unset !important;
    transform: translate(-50%, 0%) !important;
    flex-direction: inherit !important;
    align-items: baseline !important;
    justify-content: inherit !important;
    pointer-events: none !important;
    width: max-content !important;
    height: max-content !important;
    z-index: 9999 !important;
}
.bd-toast {
    background: var(--neutral-hsla-trans) !important;
    opacity: 1 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: var(--user-color) !important;
    user-select: none !important;
    pointer-events: none !important;
    width: fit-content !important;
    margin: 10px auto 0px auto !important;
    padding: 10px !important;
    transform: none !important;
}